{{ header }}
{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<div class="input-group">
					<div class="input-group-addon">
						{{ entry_active_store }}
						<select name="store" id="input-store" class="form-select">
							{% for store in stores %}&nbsp;&nbsp;
							<option value="{{ store.href }}" {% if store.store_id == store_id %} selected{% endif %}>{{ store.name }}</option>
							{% endfor %}
						</select>
					</div>
					<button type="submit" form="form-feed" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
					<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
				</div>
			</div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-feed" class="form-horizontal">

          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            <li><a href="#tab-support" data-toggle="tab">{{ tab_help_and_support }}</a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">

							<div class="form-group">
								<label for="input-status" class="col-sm-2 control-label">{{ entry_status }}</label>
								<div class="col-sm-10">
									<select name="feed_ps_product_review_feed_status" id="input-status" class="form-control">
										{% if feed_ps_product_review_feed_status %}
										<option value="1" selected="selected">{{ text_enabled }}</option>
										<option value="0">{{ text_disabled }}</option>
										{% else %}
										<option value="1">{{ text_enabled }}</option>
										<option value="0" selected="selected">{{ text_disabled }}</option>
										{% endif %}
									</select>
								</div>
							</div>

							<div class="form-group">
								<label for="input-merchant-id" class="col-sm-2 control-label">{{ entry_merchant_id }}</label>
								<div class="col-sm-10">
									<input type="text" name="feed_ps_product_review_feed_merchant_id" value="{{ feed_ps_product_review_feed_merchant_id }}" placeholder="{{ entry_merchant_id }}" id="input-merchant-id" class="form-control">
									{% if error_merchant_id %}<div class="text-danger">{{ error_merchant_id }}</div>{% endif %}
									<div class="help-block text-muted">{{ help_merchant_id }}</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">{{ entry_review_feed_url }}</label>
								<div class="col-sm-10">
									{% for language in languages %}
									<div class="input-group">
										<span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}"></span>
										<input type="text" name="review_feed_{{ language.language_id }}" value="{{ review_feed_urls[language.language_id] }}" id="input-review-feed-{{ language.language_id }}" class="form-control" readonly>
										<span class="input-group-btn">
											<button type="button" class="btn btn-info btn-copy" data-toggle="tooltip" data-input-id="input-review-feed-{{ language.language_id }}" title="{{ help_copy }}"><i class="fa fa-copy"></i></button>
											<button type="button" class="btn btn-light btn-open" data-toggle="tooltip" data-input-id="input-review-feed-{{ language.language_id }}" title="{{ help_open }}"><i class="fa fa-link"></i></button>
										</span>
									</div>
									{% endfor %}
								</div>
							</div>

							<fieldset>
								<legend>{{ heading_integrations }}</legend>

								<div class="form-group">
									<label for="input-opt-in-integration" class="col-sm-2 control-label">{{ opt_in_integration }}</label>
									<div class="col-sm-10">
										<select name="feed_ps_product_review_feed_opt_in_integration" id="input-opt-in-integration" class="form-control">
											{% if feed_ps_product_review_feed_opt_in_integration %}
											<option value="1" selected="selected">{{ text_enabled }}</option>
											<option value="0">{{ text_disabled }}</option>
											{% else %}
											<option value="1">{{ text_enabled }}</option>
											<option value="0" selected="selected">{{ text_disabled }}</option>
											{% endif %}
										</select>
										<div class="help-block text-muted">{{ help_opt_in_integration }}</div>
									</div>
								</div>

								<div class="form-group">
									<label for="input-badge-integration" class="col-sm-2 control-label">{{ badge_integration }}</label>
									<div class="col-sm-10">
										<select name="feed_ps_product_review_feed_badge_integration" id="input-badge-integration" class="form-control">
											{% if feed_ps_product_review_feed_badge_integration %}
											<option value="1" selected="selected">{{ text_enabled }}</option>
											<option value="0">{{ text_disabled }}</option>
											{% else %}
											<option value="1">{{ text_enabled }}</option>
											<option value="0" selected="selected">{{ text_disabled }}</option>
											{% endif %}
										</select>
										<div class="help-block text-muted">{{ help_badge_integration }}</div>
									</div>
								</div>

							</fieldset>

							<fieldset>
								<legend>{{ heading_authentication }}</legend>

								<div class="form-group">
									<label for="input-login" class="col-sm-2 control-label">{{ entry_login }}</label>
									<div class="col-sm-10">
										<input type="text" name="feed_ps_product_review_feed_login" value="{{ feed_ps_product_review_feed_login }}" placeholder="{{ entry_login }}" id="input-login" class="form-control">
									</div>
								</div>

								<div class="form-group">
									<label for="input-password" class="col-sm-2 control-label">{{ entry_password }}</label>
									<div class="col-sm-10">
										<input type="text" name="feed_ps_product_review_feed_password" value="{{ feed_ps_product_review_feed_password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control">
									</div>
								</div>

							</fieldset>

            </div>
            <div class="tab-pane" id="tab-support">

							<h3>{{ heading_getting_started }}</h3>
							{{ text_getting_started }}
							<hr>
							<h3>{{ heading_setup }}</h3>
							{{ text_setup }}
							<hr>
							<h3>{{ heading_troubleshot }}</h3>
							{{ text_troubleshot }}
							<hr>
							<h3>{{ heading_faq }}</h3>
							{{ text_faq }}
							<hr>
							<h3>{{ heading_contact }}</h3>
							{{ text_contact }}

            </div>
					</div>

					<input type="hidden" name="store_id" value="{{ store_id }}">
        </form>
      </div>
    </div>
  </div>
	<script>
		$('#input-store').on('change', function () {
			window.location = $(this).val();
		});

    $('.btn-copy').on('click', function () {
			var copyText = $("#" + $(this).data('inputId'));

			if (copyText.length) {
					copyText.select();
					copyText[0].setSelectionRange(0, 99999);
					document.execCommand("copy");
			}
		});

		$('.btn-open').on('click', function () {
			var linkUrl = $("#" + $(this).data('inputId')).val();

			if (linkUrl.length) {
					window.open(linkUrl, '_blank');
			}
		});
	</script>
</div>
{{ footer }}
